//
// Global
//

// Scroll padding for all scroll targets on page used with
// native CSS smooth scrolling
//
// https://caniuse.com/?search=scroll-padding

html {
    scroll-padding-top: 4.5rem;
}

// Custom utilities

.bg-black {
    background-color: $black !important;
}

.bg-gradient-primary-to-secondary {
    background: linear-gradient(359.05deg, #F7C25B -41.13%, rgba(255, 255, 255, 0) 99.12%), linear-gradient(277.31deg, #BAC6F3 26.08%, rgba(184, 135, 206, 0.98) 61.22%) !important;
}

.font-alt {
    font-family: $alt-font-family !important;
}

.text-gradient {
    background: linear-gradient(359.05deg, #F7C25B -41.13%, rgba(255, 255, 255, 0) 99.12%), linear-gradient(141deg, #BAC6F3 12.92%, rgba(184, 135, 206, 0.98) 86.18%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

// Padding for sections

aside,
section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

// Set fixed height for app badges

.app-badge {
    height: 3rem;
}

.btn-primary{
    color: #ffffff;
    &:hover{
        color: #E4D9FF;
    }
    &:active{
        color: #E4D9FF;
    }
    &:focus{
        color: #E4D9FF;
    }
}

.brand-paragraph{
    font-family: $logo-font-family;
    color: #fff;
}
