//
// Colors
//

// Override Bootstrap color systel colors

$deepblue: #1E2749;
$purple: #A558C8;
$lightPurple: #B887CE;

// Override Bootstrap default state colors

$primary: $purple;
$secondary: $deepblue;
